@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shan Ariel Sioson
    
</address>

<address>
    <strong>Student ID:</strong>    026649152<br />
</address>