@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Shan Ariel Sioson<br />
    <abbr title="Student ID">Student Number</abbr>
    026649152
</address>

<address>
    <strong>E-mail:</strong>   <a href="sasioson@myseneca.com">sasioson@myseneca.com</a><br />
</address>