@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 5</h1>
    <p class="lead">Select List and Add</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment5.html" class="btn btn-primary btn-lg">Assignment 5 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Work with associated data, with “add new” functionality. Your web app will enable users to add new Track objects.
        </p>
        <p><a class="btn btn-default" href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment5.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Introduction to the problem to be solved</h2>
        <p>We need an app that will display lists of Album, MediaType, and Track objects. The app will also enable the browser user to add new Track objects.</p>
        <p><a class="btn btn-default" href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment5.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>